.tablebox1
{
    width: 90%;
    height :auto;
    background:rgba(245,245,245,0.75);
    color :black;
    top:22%;
    margin-left: 7%;
   
    /* padding-bottom: 200%; */
    transform:translate(-50%,-50);
    box-sizing:border-box;
    padding:2%;
    box-shadow:0 0 20px 3px rgba(163, 142, 142, 1);
    border-radius:15px;
    margin-bottom: 3%;
}
.tablebox1 th{
    border-radius: 15px 15px 0 0;
}
 #btnn
 {
    margin-top: 1%;
    height:35px;
    width:40%;
    margin-bottom:20px;
    background:white;
    color:black;
    border-radius:20px;
    font-weight:bold;
    font-size: 18px;
    border: 1.5px solid #3f51b5;
 }
 #btnn:hover{
    cursor: pointer;
    background:  #3f51b5;
    color:white;
 }