@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding:0;
    /* background-image:url("loginb.jpg"); */
    /* background-position:center; */
    /* background-size:cover; */
    /* font-family:sans-serif; */
}
.loginbox {
    width:450px;
    height:auto;
    background:white;
    /* color :white; */
    top:28%;
    left:33%;
    position :absolute;
    /* transform:translate(-50%,-50); */
    /* box-sizing:border-box; */
    padding:70px 30px;
    box-shadow:0 0 20px 3px ;
    border-radius:3%;
    
}
.user{
    width:125px;
    height:125px;
    border-radius:50%;
    position :absolute;
    top:-50px;
    left:calc(75% - 40%);
}
h1{
    margin: 10;
    padding: 0 10 20%;
    text-align: center;
    font-size: 30px;
}
.loginbox p{
    margin: -5px;
    padding: 0;
    font-size:25px;
    font-weight:bold;

}
.loginbox input{
    width:98%;
    margin-bottom:20px;

}
.loginbox input[type="text"],input[type="password"]{
    border:none;
    border-bottom:1.0px solid  #3f51b5;
    background:transparent;
    outline:none;
    height:37px;
    /* color:white; */
    font-size: 15px;
    
}
.loginbox input[value="Login"]{
    border:none;
    outline:none;
    height:40px;
    background:#3f51b5;
    color: white;
    border-radius:20px;
    font-weight:bold;
    font-size: 18px;
}
.loginbox a{
    margin:5;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    /* color:white; */
    font-weight: bold;
}
.loginbox a:hover{
    color:#3f51b5;
}
.loginbox input[value="Register"]{
    border:none;
    outline:none;
    height:40px;
    background:white;
    color: #3f51b5;
    border-radius:20px;
    font-weight:bold;
    font-size: 18px;
}
/* .loginbox input[type="button"]:hover{
    cursor: pointer;
    background:  #dc5c04;
    color:white;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background:  #dc5c04;
    color:white;
} */
.eye{
    position: absolute;
}
#enable{
    display: none;
}
.loginbox i{
    width: 25px;
}