*{margin: 0;padding: 0;}

.menu{
    margin: 0;
    height: 100px;
    width: 100%;
    color:black;
    background: darkslategray;
    text-decoration: none;
     position: fixed;  
     z-index: 10;
}
.menu ul{
    height: 100px;
    display:flex ;
    justify-content:space-around;
    align-items: center;
    text-decoration: none;
}

.menu li{
    list-style: none;
    text-decoration: none;
    text-emphasis:" none";
    color: white;
}

